{{!
  Custom whitelabel error page.
  Spring should set an error property such as error="Not Found", so we can use the message
  template and let it render the error or a default error message.
}}
{{> message}}
