# This is the root config, so don't look any higher than this.
config.stopBubbling = true

# Add @ConstructorProperties to help Jackson (and other things) create @Value objects via ctors.
# See https://docs.oracle.com/en/java/javase/11/docs/api/java.desktop/java/beans/ConstructorProperties.html
lombok.anyConstructor.addConstructorProperties = true
